<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <style>
    /* 简单的响应式布局样式 */
    body {
      display: flex;
      margin: 0;
      font-family: Arial, sans-serif;
    }
    .sidebar {
      width: 300px; /* 侧边栏宽度 */
      background-color: #7030A0; /* 侧边栏背景色 */
      padding: 20px;
      height: 100vh;
      box-sizing: border-box;
    }
    .main-content {
      flex-grow: 1;
      padding: 20px;
    }
    @media (max-width: 600px) {
      body {
        flex-direction: column;
      }
    }
  </style>
</head>
<body>
  <div class="sidebar">
    <!-- 侧边栏内容 -->
    <h2>模数师</h2>
    <img src="">
    <ul>
      <li><a href="#link1">Home</a></li>
      <li><a href="#link2">About</a></li>
      <li><a href="#link2">Message</a></li>
      <li><a href="#link2">Public Account</a></li>

    </ul>
  </div>

  <div class="main-content">
    {{ content }}
  </div>
</body>
</html>