<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
    /* 简单的响应式布局样式 */
    body {
      display: flex;
      margin: 0;
      font-family: Arial, sans-serif;
    }
    .sidebar {
      width: 300px; /* 侧边栏宽度 */
      background-color: #7030A0; /* 侧边栏背景色 */
      padding: 20px;
      height: 100vh;
      box-sizing: border-box;
    }
    .main-content {
      flex-grow: 1;
      padding: 20px;
    }
    @media (max-width: 600px) {
      body {
        flex-direction: column;
      }
    }
  </style>
</head>
<body>
{% include sidebar.html %}

<div>
    <h1>this is a page1 in html</h1>
</div>


</body>
</html>